---
title: "How you can help shape the future of securing applications with GitLab"
author: Emily von Hoffmann
author_gitlab: evhoffmann
author_twitter: emvonhoffmann
categories: unfiltered
image_title: '/images/blogimages/how-you-can-help-shape-the-future-of-securing-applications-at-gitlab.jpg'
description: "We want to provide the best experience in keeping your application safe after your code is in production."
tags: UX
twitter_text: "Help us build the future of securing applications with GitLab"
postType: product
merch_sidebar_destination_url: "/community/gitlab-first-look/"
merch_sidebar_image_source: "/images/merchandising-content/gitlab-first-look.png"
merch_sidebar_body_title: "GitLab First Look"
merch_sidebar_body_content: "Get invites to usability tests, interviews, surveys, and more."
merch_sidebar_cta_text: "Sign up"
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

As part of our vision to deliver the entire DevOps lifecycle in a single application, we’re designing an experience that will allow security professionals to collaborate directly with developers. We need your help to make it the best it can be!

Our newest product stage is Defend, and it’s an exciting time as we continue to define our [strategy and roadmap](/direction/defend/). The Defend UX team’s goal is to provide the best experience in keeping your application safe after your code is in production. This includes all features that help you defend your applications and cloud infrastructure by giving you the ability to identify, catalogue, manage, and remediate threats, vulnerabilities, and risks. 

Some of the new categories we’re planning for in 2020 include [Runtime Application Self Protection](/direction/defend/rasp/), [Threat Detection](/groups/gitlab-org/-/epics/744), [User Entity and Behavioral Analytics](/direction/defend/ueba/) and [more](/handbook/product/categories/#defend-section). 

<%= partial "includes/blog/blog-merch-sidebar" %>

We have a ton of UX research planned to help us learn more about this new category, and we hope you consider adding your voice.

### Our users' jobs to be done

From what we know so far, the [Defend user](https://about.gitlab.com/handbook/engineering/ux/stage-group-ux-strategy/defend/#our-user) is responsible for maintaining the security of their company’s environments and applications. They seem to have a wide variety of job titles, including security analyst and SecOps engineer.

We aim to understand our different users’ motivations and goals by identifying their primary [jobs to be done](https://hbr.org/2016/09/know-your-customers-jobs-to-be-done). For the Defend user, [these include](/handbook/engineering/ux/stage-group-ux-strategy/defend/#our-ux-scorecards) things like:

> When I make sure my company’s applications aren’t vulnerable to bad actors, I want to monitor the traffic coming to my application and detect the possibility of an attack (SQL injection attempts, XSS attempts, vulnerability scanners, etc) so I can know what parts of the application I need to protect better.

### Our recruiting challenge

Perhaps because we’re best known for our origins in source code management, we usually have an abundance of participants who fit our software developer persona when we’re recruiting for studies. Newer personas like our Defend users have been more elusive by comparison — we’ve attempted studies where we couldn’t find a single human to speak with.

This is a real problem for us, as we believe strongly in evidence-based design. We want to build for your actual wants and needs as opposed to our assumptions about them.

### How you can help

If any of this sounds like you, please sign up to our research program, [GitLab First Look](https://about.gitlab.com/community/gitlab-first-look/)! When you join, you can indicate exactly which product areas and types of research you’re interested in. We’ll send you invitations to participate when you match with studies.

We also have one ongoing research effort that you can help with right now — [a survey](https://gitlab.fra1.qualtrics.com/jfe/form/SV_8eoZUpZwgf48f65) about secrets management 🤫

Questions? Reach out on [twitter](https://twitter.com/EmvonHoffmann).

[Sam Kerr](/company/team/#stkerr) and [Tali Lavi](/company/team/#tlavi) contributed to this post.
{: .note}

DISCLAIMER: This blog is intended for user-generated content submitted by the GitLab team. The views and opinions represented in this blog are personal to the author of each respective blog post and do not represent the views or opinions of GitLab unless explicitly stated.
All content provided on this blog is for informational purposes only. Neither GitLab nor any of the individual blog contributors ("Contributors") make any representations as to the accuracy or completeness of any information on this site. Neither GitLab nor any Contributors will be liable for any errors or omissions in this information or any losses, injuries, or damages from the display or use of this information.
Comments are welcome, and in fact, encouraged. However, GitLab reserves the right to edit or delete any comments submitted to this blog without notice should GitLab determine them to i) be spam or questionable spam; ii) include profanity; iii) include language or concepts that could be deemed offensive, hate speech, credible threats, or direct attacks on an individual or group; or iv) are in any other way a violation of GitLab's Website Terms of Use. GitLab is not responsible for the content in comments.
This policy is subject to change at any time.
{: .alert .alert-info .note}
